.suplemento-card {
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 2rem 1rem;
    transition: transform 0.2s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    height: clamp(200px, 16vw, 300px);
}

    .suplemento-card:hover {
        transform: scale(1.03);
    }

    .suplemento-card i {
        font-size: clamp(40px, 5vw, 70px);
        margin-bottom: 1.25rem;
    }

.suplemento-title {
    font-weight: 700;
    font-size: clamp(14px, 1.5vw, 18px);
}
