

#Modelo

ASPNETCORE_ENVIRONMENT=Development

SA_PASSWORD=Bros123!
MSSQL_PID=Express


SQL_SERVER_PORT=1433
SQL_SERVER_PORT_ALT=1434

SQL_SERVER_HOST_INTERNAL=sqlserver
SQL_SERVER_HOST_EXTERNAL=localhost



DB_NAME_DEV=bros_ecommerce_dev 
DB_NAME_PROD=bros_ecommerce

CONNECTION_STRING_DEV=Server=${SQL_SERVER_HOST_INTERNAL},${SQL_SERVER_PORT};Database=${DB_NAME_DEV};User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=true;MultipleActiveResultSets=true

CONNECTION_STRING_PROD=Server=${SQL_SERVER_HOST_INTERNAL},${SQL_SERVER_PORT};Database=${DB_NAME_PROD};User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=true;MultipleActiveResultSets=true

CONNECTION_STRING_EXTERNAL_DEV=Server=${SQL_SERVER_HOST_EXTERNAL},${SQL_SERVER_PORT};Database=${DB_NAME_DEV};User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=true;MultipleActiveResultSets=true

CONNECTION_STRING_EXTERNAL_PROD=Server=${SQL_SERVER_HOST_EXTERNAL},${SQL_SERVER_PORT};Database=${DB_NAME_PROD};User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=true;MultipleActiveResultSets=true

WEB_HTTP_PORT=8080
WEB_HTTPS_PORT=8081

CERT_PATH=/https/bros-ecommerce.web.pfx
CERT_PASSWORD=senha123

DOCKER_REGISTRY=

SQL_HEALTHCHECK_INTERVAL=30s
SQL_HEALTHCHECK_TIMEOUT=10s
SQL_HEALTHCHECK_RETRIES=5