body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.promocao-section {
    text-align: center;
    padding: 40px 20px;
}

.produtos-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
}

    .produtos-container::-webkit-scrollbar {
        display: none;
    }

.card {
    width: 320px;
    flex: 0 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: unset;
    margin-bottom: unset;
    transition: transform 0.2s ease;
    font-size: 1rem;
}

    .card:hover {
        transform: scale(1.03);
    }

        .card:hover .btn-comprar {
            background-color: #377139;
        }

    .card img {
        max-width: 100%;
        max-height: 100%;
    }

.imagem-produto {
    height: clamp(120px, 13.4vw, 230px);
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.desconto {
    background-color: #00ff00;
    color: #272C30;
    font-weight: bold;
    padding: 5px 0;
}

.descricao {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.precos {
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}

    .precos del {
        color: #888;
    }

    .precos strong {
        color: #3B973F;
        font-size: clamp(14px, 1.0vw, 20px);
        font-weight: 900 !important;
    }


.btn-comprar {
    background-color: #38b24d;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    margin: 1.0rem;
    font-size: clamp(14px, 1.0vw, 20px);
    font-weight: 900 !important;
}

    .btn-comprar:hover {
        background-color: #377139;
        color: white;
    }

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-btn {
    background-color: #FF4E4E;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 0.3s;
}

    .scroll-btn:hover {
        background-color: #e94a50;
    }

    .scroll-btn.left {
        position: absolute;
        left: -3rem;
    }

    .scroll-btn.right {
        position: absolute;
        right: -3rem;
    }
